/* Global Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* HTML Element */
html {
    scroll-behavior: smooth;
}

/* Body Element */
body {
    background: black;
    color: white;
    padding-top: auto;
}

/* Header Section */
#header {
    width: 100%;
    height: 100vh;
    background-image: url(public/background.png);
    background-position: center;
    background-size: cover;
}

/* Container Class */
.container {
    padding: 10px 10%;
}

/* Navigation Styles */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: cadetblue;
}

.logo {
    width: 100px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(48, 85, 86);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Header Text Styles */
.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    margin-top: 20px;
    font-size: 60px;
}

.header-text h1 span {
    color: cadetblue;
    text-shadow: 2px 2px black;
}

.header-text p {
    text-shadow: 2px 2px black;
}

/* About Section */
#about {
    padding: 80px 0px;
    color: white;
}

/* About Section - Row */
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* About Section - Columns */
.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 50px;
    ;
}

.about-col-2 {
    flex-basis: 60%;
    color: white;
}

/* Subtitle Style */
.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.879);
}

/* Tab Titles Styles */
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-titles p {
    color: rgba(255, 255, 255, 0.879);
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: cadetblue;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

/* Tab Contents Styles */
.tab-contents {
    display: none
}

.tab-contents ul .title,
.tab-contents .title {
    list-style: none;
}

.tab-contents ul li {
    margin: 10px 0;
    position: relative;
}

.tab-contents ul li span {
    color: cadetblue;
    font-size: 21px;
}

.date {
    color: white;
    position: absolute;
    right: 0;
    top: 0;
}

.tab-contents ul li .description {
    padding-left: 20px;
}

.tab-contents.active-tab {
    display: block;
}

/* Portfolio Section */
#portfolio {
    padding: 50px 0;
}

.degreeTitle {
    color: cadetblue;
    font-size: 16px;
}

/* Portfolio Work List Styles */
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

/* Portfolio Work Styles */
.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

/* Portfolio Layer Styles */
.layer h3 {
    color: cadetblue;
    font-weight: 500;
    margin-bottom: 20px;
    text-shadow: 2px 2px rgb(63, 64, 64);
}

.layer {
    color: white;
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0, 0, 0, 0.6), skyblue);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer a {
    margin-top: 15px;
    color: cadetblue;
    text-decoration: none;
    font-size: 12px;
    line-height: 25px;
    background: black;
    width: 25px;
    height: 25px;
    border-radius: 70%;
}

/* Hover Styles for Portfolio Work */
.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

/* Button Styles */
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid cadetblue;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background- 0.5s;
}

.btn:hover {
    background: cadetblue;
}

/* Contact Section */
.contact-left p {
    color: grey;
    margin-top: 30px;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p i {
    color: cadetblue;
    margin-right: 15px;
    font-size: 25px;
}

/* Social Icons Styles */
.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: grey;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: cadetblue;
    transform: translateY(-5px);
}

/* Button Styles for Contact Section */
.btn.btn-2 {
    display: inline-block;
    transition: background- 0.5s;
}

.btn.btn-2:hover {
    background: cadetblue;
}

/* Form Styles */
.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: white;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}

/* Form Button Styles */
form .btn-2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    color: black;
}

/* Copyright Section */
.copyright {
    width: 100%;
    text-align: center;
    padding: 15px;
    background: cadetblue;
    font-weight: 300;
    margin-top: 20px;
}

/* Heart Icon Color */
.copyright i {
    color: beige;
}

/* Responsive Styles for Small Screens */
nav .fas {
    display: none;
}

@media only screen and (max-width: 600px) {
    #header {
        background-image: url(public/background-smaller.png);
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: cadetblue;
        position: fixed;
        top: 0;
        right: -120px;
        width: 120px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        cursor: pointer;
        top: 25px;
        left: 25px;
    }

    .subtitle {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }

    .date {
        position: unset;
        margin-top: 10px;
    }
}

/* Message Span Styles */
#msg {
    color: #61b752;
    margin-top: -40px;
    display: block
}